@use '../../partials/variables' as *;

.control-panel{
    width: 30%;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__button{
        width: 15rem;
        height: 5rem;
        border: 3px solid $connect-blue;
        border-radius: 5px;
        font-size: 2rem;
        font-weight: 600;
        background-color: white;
        color: $connect-blue;
        margin-top: 5rem;

        &:hover{
            border: none;
            background-color: $connect-blue;
            color: white;
        }
    }
}

.dark-mode{
    background-color: $dark-mode-background;

    &__button{
        border: 3px solid $dark-mode-blue;
        font-size: 2rem;
        font-weight: 600;
        background-color: $dark-mode-background !important;
        color: $dark-mode-blue;
        margin-top: 5rem;

        &:hover{
            border: none;
            background-color: $dark-mode-blue;
            color: $dark-mode-background;
        }
    }
}