@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.header{
    height: 12.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: sans-serif;
    background-color: $connect-blue;

    &__title{
        font-size: 8rem;
        color: white;
        margin: 0;
        margin-left: 5rem;
    }
}
